<a href="https://colab.research.google.com/github/ariefahshalihah/jabar-movement-2020/blob/main/jabar_movements_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Forecasting JABAR Movement Range Maps 2020

Prediksi pergerakan masyarakan Jawa Barat dalam 2 minggu ke depan

```
# Movement Range Maps
# Source : https://data.humdata.org/dataset/movement-range-maps
```

## Persiapan Data

In [10]:
import zipfile,os

# Unduh dataset by !wget
!wget --no-check-certificate https://data.humdata.org/dataset/c3429f0e-651b-4788-bb2f-4adbf222c90e/resource/55a51014-0d27-49ae-bf92-c82a570c2c6c/download/movement-range-data-2020-12-16.zip \
-O /content/movement-range-data-2020-12-15.zip

zip_ref = zipfile.ZipFile(path_file, 'r')
zip_ref.extractall('/content/')
zip_ref.close()

--2020-12-18 01:58:49--  https://data.humdata.org/dataset/c3429f0e-651b-4788-bb2f-4adbf222c90e/resource/55a51014-0d27-49ae-bf92-c82a570c2c6c/download/movement-range-data-2020-12-16.zip
Resolving data.humdata.org (data.humdata.org)... 34.224.47.243, 23.20.61.19, 3.213.5.86
Connecting to data.humdata.org (data.humdata.org)|34.224.47.243|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://s3.eu-central-1.amazonaws.com/hdx-ckan-filestore-prod/resources/55a51014-0d27-49ae-bf92-c82a570c2c6c/movement-range-data-2020-12-16.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=180&X-Amz-Credential=AKIARZNKTAO7U6UN77MP%2F20201218%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Date=20201218T015850Z&X-Amz-Signature=0d765a8f203eb86fabaf38eddbe3598200bf7d49379985227a381ae9506c7d54 [following]
--2020-12-18 01:58:50--  https://s3.eu-central-1.amazonaws.com/hdx-ckan-filestore-prod/resources/55a51014-0d27-49ae-bf92-c82a570c2c6c/movement-range-data-2020-12-16.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=180&X-Amz-Credential=AKIARZNKTAO7U6UN77MP%2F20201218%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Date=20201218T015850Z&X-Amz-Signature=0d765a8f203eb86fabaf38eddbe3598200bf7d49379985227a381ae9506c7d54
Resolving s3.eu-central-1.amazonaws.com (s3.eu-central-1.amazonaws.com)... 52.219.140.11
Connecting to s3.eu-central-1.amazonaws.com (s3.eu-central-1.amazonaws.com)|52.219.140.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 51605720 (49M) [application/zip]
Saving to: ‘/content/movement-range-data-2020-12-15.zip’

/content/movement-r 100%[===================>]  49.21M  24.1MB/s    in 2.0s

2020-12-18 01:58:53 (24.1 MB/s) - ‘/content/movement-range-data-2020-12-15.zip’ saved [51605720/51605720]

In [11]:
import pandas as pd

# Load Dataset
data = pd.read_csv('/content/movement-range-2020-12-15.txt', sep='\t')
IDN = data.loc[data['country']=="IDN"].reset_index()
IDN.polygon_name = IDN.polygon_name.str.lower()
IDN.head(3)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     index          ds  ...  baseline_name baseline_type
0  1863328  2020-03-01  ...  full_february   DAY_OF_WEEK
1  1863329  2020-03-02  ...  full_february   DAY_OF_WEEK
2  1863330  2020-03-03  ...  full_february   DAY_OF_WEEK

[3 rows x 10 columns]

In [27]:
# List Kab/Kota Jawa Barat
# Source : 'https://data.jabarprov.go.id/dataset/luas-wilayah-provinsi-jawa-barat'

# Unduh data Jawa Barat
!wget --no-check-certificate https://data.jabarprov.go.id/dataset/a8356698-0796-4c63-91f2-7130d2dc7b03/resource/086c40c3-0fae-40df-bd6d-3fc1a8388ea4/download/luas_wilayah.csv -O /content/luas_wilayah.csv

luas_wilayah = pd.read_csv('/content/luas_wilayah.csv', sep=',')
kota_kab = pd.DataFrame(luas_wilayah['nama_kabupaten']).applymap(str.lower).drop_duplicates()
kota_kab = kota_kab.sort_values(by=['nama_kabupaten']).reset_index(drop=True)

--2020-12-18 02:15:08--  https://data.jabarprov.go.id/dataset/a8356698-0796-4c63-91f2-7130d2dc7b03/resource/086c40c3-0fae-40df-bd6d-3fc1a8388ea4/download/luas_wilayah.csv
Resolving data.jabarprov.go.id (data.jabarprov.go.id)... 103.122.5.214
Connecting to data.jabarprov.go.id (data.jabarprov.go.id)|103.122.5.214|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 466781 (456K) [text/csv]
Saving to: ‘/content/luas_wilayah.csv’

/content/luas_wilay 100%[===================>] 455.84K   501KB/s    in 0.9s

2020-12-18 02:15:10 (501 KB/s) - ‘/content/luas_wilayah.csv’ saved [466781/466781]

In [28]:
print(f'Wilayah Jawa Barat: {len(kota_kab)}')
kota_kab.head(5)

Wilayah Jawa Barat: 27

  nama_kabupaten
0        bandung
1  bandung barat
2         bekasi
3          bogor
4         ciamis

In [36]:
check = IDN.polygon_name.isin([item[0] for item in kota_kab.values.tolist()])
dataset_jabar = IDN[check]
dataset_jabar

          index          ds  ...  baseline_name baseline_type
132129  1995457  2020-03-01  ...  full_february   DAY_OF_WEEK
132130  1995458  2020-03-02  ...  full_february   DAY_OF_WEEK
132131  1995459  2020-03-03  ...  full_february   DAY_OF_WEEK
132132  1995460  2020-03-04  ...  full_february   DAY_OF_WEEK
132133  1995461  2020-03-05  ...  full_february   DAY_OF_WEEK
...         ...         ...  ...            ...           ...
139374  2002702  2020-12-11  ...  full_february   DAY_OF_WEEK
139375  2002703  2020-12-12  ...  full_february   DAY_OF_WEEK
139376  2002704  2020-12-13  ...  full_february   DAY_OF_WEEK
139377  2002705  2020-12-14  ...  full_february   DAY_OF_WEEK
139378  2002706  2020-12-15  ...  full_february   DAY_OF_WEEK

[6670 rows x 10 columns]

In [38]:
# simpan dataset wilayah Jawa Barat ke drive
save_path = '/content/drive/MyDrive/Colab Notebooks/movement-range-jabar-2020.csv'
dataset_jabar.to_csv(save_path, sep='\t')

## Pra-Proses