<a href="https://colab.research.google.com/github/ariefahshalihah/jabar-movement-2020/blob/main/jabar_movements_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prediksi Masyarakat Jawa barat berada di Rumah dalam 2 Minggu

source: Movement Range Maps

url: https://data.humdata.org/dataset/movement-range-maps

## Persiapan Data

In [1]:
import zipfile,os

# Unduh dataset 
!wget --no-check-certificate https://data.humdata.org/dataset/c3429f0e-651b-4788-bb2f-4adbf222c90e/resource/55a51014-0d27-49ae-bf92-c82a570c2c6c/download/movement-range-data-2020-12-15.zip -O /content/movement-range-data-2020-12-15.zip

zip_ref = zipfile.ZipFile('/content/movement-range-data-2020-12-15.zip', 'r')
zip_ref.extractall('/content/')
zip_ref.close()

--2020-12-17 16:01:40--  https://data.humdata.org/dataset/c3429f0e-651b-4788-bb2f-4adbf222c90e/resource/55a51014-0d27-49ae-bf92-c82a570c2c6c/download/movement-range-data-2020-12-15.zip
Resolving data.humdata.org (data.humdata.org)... 34.224.47.243, 23.20.61.19, 3.213.5.86
Connecting to data.humdata.org (data.humdata.org)|34.224.47.243|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://s3.eu-central-1.amazonaws.com/hdx-ckan-filestore-prod/resources/55a51014-0d27-49ae-bf92-c82a570c2c6c/movement-range-data-2020-12-15.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=180&X-Amz-Credential=AKIARZNKTAO7U6UN77MP%2F20201217%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Date=20201217T160142Z&X-Amz-Signature=7ee5f4d1f9a60dcd6b2848e02fb4a52198174f92b84748b2b152c28fde0647b4 [following]
--2020-12-17 16:01:42--  https://s3.eu-central-1.amazonaws.com/hdx-ckan-filestore-prod/resources/55a51014-0d27-49ae-bf92-c82a570c2c6c/movement-range-data-2020-12-15.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=180&X-Amz-Credential=AKIARZNKTAO7U6UN77MP%2F20201217%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Date=20201217T160142Z&X-Amz-Signature=7ee5f4d1f9a60dcd6b2848e02fb4a52198174f92b84748b2b152c28fde0647b4
Resolving s3.eu-central-1.amazonaws.com (s3.eu-central-1.amazonaws.com)... 52.219.47.87
Connecting to s3.eu-central-1.amazonaws.com (s3.eu-central-1.amazonaws.com)|52.219.47.87|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 51446445 (49M) [application/zip]
Saving to: ‘/content/movement-range-data-2020-12-15.zip’

/content/movement-r 100%[===================>]  49.06M  15.1MB/s    in 3.2s

2020-12-17 16:01:46 (15.1 MB/s) - ‘/content/movement-range-data-2020-12-15.zip’ saved [51446445/51446445]

In [2]:
import pandas as pd

# Load Dataset
data = pd.read_csv('/content/movement-range-2020-12-15.txt', sep='\t')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head()

           ds country  ...  baseline_name baseline_type
0  2020-03-01     AGO  ...  full_february   DAY_OF_WEEK
1  2020-03-02     AGO  ...  full_february   DAY_OF_WEEK
2  2020-03-03     AGO  ...  full_february   DAY_OF_WEEK
3  2020-03-04     AGO  ...  full_february   DAY_OF_WEEK
4  2020-03-05     AGO  ...  full_february   DAY_OF_WEEK

[5 rows x 9 columns]

In [4]:
IDN = data.loc[data['country'] == "IDN" ]

In [5]:
IDN.head()

                 ds country  ...  baseline_name baseline_type
1863328  2020-03-01     IDN  ...  full_february   DAY_OF_WEEK
1863329  2020-03-02     IDN  ...  full_february   DAY_OF_WEEK
1863330  2020-03-03     IDN  ...  full_february   DAY_OF_WEEK
1863331  2020-03-04     IDN  ...  full_february   DAY_OF_WEEK
1863332  2020-03-05     IDN  ...  full_february   DAY_OF_WEEK

[5 rows x 9 columns]

In [6]:
# List Kab/Kota Jawa Barat
# sumber : 'https://data.jabarprov.go.id/dataset/luas-wilayah-provinsi-jawa-barat'


!wget --no-check-certificate https://data.jabarprov.go.id/dataset/a8356698-0796-4c63-91f2-7130d2dc7b03/resource/086c40c3-0fae-40df-bd6d-3fc1a8388ea4/download/luas_wilayah.csv -O /content/luas_wilayah.csv

luas_wilayah = pd.read_csv('/content/luas_wilayah.csv', sep=',')

--2020-12-17 16:01:54--  https://data.jabarprov.go.id/dataset/a8356698-0796-4c63-91f2-7130d2dc7b03/resource/086c40c3-0fae-40df-bd6d-3fc1a8388ea4/download/luas_wilayah.csv
Resolving data.jabarprov.go.id (data.jabarprov.go.id)... 103.122.5.214
Connecting to data.jabarprov.go.id (data.jabarprov.go.id)|103.122.5.214|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 466781 (456K) [text/csv]
Saving to: ‘/content/luas_wilayah.csv’

/content/luas_wilay 100%[===================>] 455.84K   613KB/s    in 0.7s

2020-12-17 16:01:56 (613 KB/s) - ‘/content/luas_wilayah.csv’ saved [466781/466781]

In [7]:
luas_wilayah.head()

   index  kode_propinsi nama_propinsi  ...        nama_desa luas_wilayah  satuan
0      0             32    JAWA BARAT  ...     PONDOK RAJEG         3.04      Ha
1      1             32    JAWA BARAT  ...        KARADENAN         4.20      Ha
2      2             32    JAWA BARAT  ...      HARAPANJAYA         3.01      Ha
3      3             32    JAWA BARAT  ...        NANGGEWER         4.41      Ha
4      4             32    JAWA BARAT  ...  NANGGEWER MEKAR         2.88      Ha

[5 rows x 11 columns]

In [8]:
kota_kab = pd.concat([pd.DataFrame(luas_wilayah['nama_kabupaten'])], axis=0).applymap(str.lower)
kota_kab

     nama_kabupaten
0             bogor
1             bogor
2             bogor
3             bogor
4             bogor
...             ...
5952    kota banjar
5953    kota banjar
5954    kota banjar
5955    kota banjar
5956    kota banjar

[5957 rows x 1 columns]

In [9]:
IDN['polygon_name'].values[0]

'Aceh Timur'

In [ ]:
def dataset_jabar(data, reference):
  x = []  
  for i in range(0, len(IDN)):    
    movement = IDN.values[i]
    if [IDN['polygon_name'].values[i].lower()] in kota_kab.values.tolist():
      x.append(movement)
    
  return x


%time dataset = dataset_jabar(IDN, kota_kab)

In [ ]:
df = pd.DataFrame(dataset)

## Pra-Proses